@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Common Style Variables */

  /* Color */
  --color-black: #000;
  --color-burlywood: #bc8b5f;
  --color-darkgray: #999;
  --color-darkolivegreen: #004e1e;
  --color-dimgray: #636363;
  --color-floralwhite: #fffbf3;
  --color-gainsboro: #d9d9d9;
  --color-lightcyan: #d6f9ff;
  --color-mintcream: #e6f2ee;
  --color-saddlebrown: #794d02;
  --color-salmon: #ee6464;
  --color-seagreen-100: #0c744c;
  --color-seagreen-200: #00602b;
  --color-sienna-100: #a47246;
  --color-sienna-200: #7a4f31;
  --color-teal: #00664e;
  --color-wheat: rgba(255, 234, 194, 0.4);
  --color-white: #fff;

  /* Gap */
  --gap-1: 1px;
  --gap-2: 2px;
  --gap-3: 3px;
  --gap-4: 4px;
  --gap-5: 5px;
  --gap-6: 6px;
  --gap-8: 8px;
  --gap-10: 10px;
  --gap-15: 15px;
  --gap-18: 18px;
  --gap-19: 19px;
  --gap-26: 26px;
  --gap-32: 32px;

  /* Padding */
  --padding-0: 0px;
  --padding-1: 1px;
  --padding-2: 2px;
  --padding-3: 3px;
  --padding-4: 4px;
  --padding-5: 5px;
  --padding-6: 6px;
  --padding-7: 7px;
  --padding-8: 8px;
  --padding-9: 9px;
  --padding-10: 10px;
  --padding-11: 11px;
  --padding-12: 12px;
  --padding-13: 13px;
  --padding-14: 14px;
  --padding-15: 15px;
  --padding-16: 16px;
  --padding-18: 18px;
  --padding-19: 19px;
  --padding-20: 20px;
  --padding-21: 21px;
  --padding-22: 22px;
  --padding-24: 24px;
  --padding-26: 26px;
  --padding-28: 28px;
  --padding-32: 32px;
  --padding-36: 36px;
  --padding-64: 64px;
  --padding-72: 72px;

  /* BorderRadius */
  --br-10: 10px;
  --br-20: 20px;
  --br-50: 50%;

  /* Font */
  --font-inter: "Inter", "Pretendard", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  --font-roboto: "Roboto", "Pretendard", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;

  /* FontSize */
  --fs-8: 8px;
  --fs-10: 10px;
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-25: 25px;

  /* Borders */
  --border-1: 0px solid var(--color-sienna-100);
  --border-2: 2px solid var(--color-teal);
  --border-11: 2px solid var(--color-sienna-200);

  /* WidthHeights */
  --height-15: 15px;
  --height-16: 16px;
  --height-47: 47px;
  --height-77: 77px;
  --height-110: 110px;
  --min-w-22: 22px;
  --min-w-26: 26px;
  --min-w-89: 89px;
  --width-2: 2px;
  --width-76: 76px;
  --width-77: 77px;
  --width-78: 78px;
  --width-80: 80px;
  --width-81: 81px;
  --width-89: 89px;
  --width-97: 97px;
  --width-119: 119px;
  --width-187: 187px;
  --width-202: 202px;
  --width-666: 666px;
  --width-94_1: 94.1px;

  /* LineHeights */
  --lh-8: 8px;
  --lh-12: 12px;

  /* LetterSpacings */
  --ls--0_02: -0.02;

  --left-0: 0px;
  --left-11: 11px;
  --left-16: 16px;
  --left-66: 66px;
  --left-248: 248px;
  --top-0: 0px;
  --top-1: 1px;
  --top-11: 11px;
  --top-16: 16px;
  --top-28: 28px;
}
